
@keyframes cartAppears {
    0% { transform: translateY(100%); opacity: .5;}
    100% { opacity: 1;  transform: translateY(0);}
  }

.product-cart{
    width: 100%;
    box-shadow: -1px 0px 4px 4px #0004;
    background-color: var(--main-color);
    padding: 5px 16px;
    border-bottom: solid 1px #aaa;
    animation-name: cartAppears;
    animation-duration: .25s;
    animation-timing-function: ease ;
    z-index: 2;
}

.product-cart section{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    width: 100%; height: fit-content;
    align-items: center;
    column-gap: 16px;
}

@media only screen and (max-width: 1024px) {

    .product-cart{
        padding: 10px;
        
    }
  
    .product-cart section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        width: 100%; height: fit-content;
        align-items: center;
        row-gap: 28px;
    }
    
}