#suggestion-page{
    height: 100%;
    padding-top: 36px;
    padding-bottom: 90px;
    min-height: calc(100vh - 60px);

}



.suggestion-page-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;

}