
@keyframes slideUp {
    0% { opacity: .3;}
    100% { opacity: 1;}
  }

.mart-item{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation-name: slideUp;
    animation-duration: .25s;
    animation-timing-function: ease ;
    border-radius: 12px;
}


.mart-item .mart-item-row{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 6px 14px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgba(248, 248, 248, 0.8);
}

.mart-item .mart-item-row:hover{
   background-color: rgba(125, 170, 230, 0.3);
   outline: solid 2px rgba(66, 110, 204, 0.3); 
}

.mart-item .mart-item-icon{
    height: 42px; 
    width: 42px;
    font-size: 28px;
    background-color: #efefef;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}   

.mart-item .mart-item-name{
    line-height: 1em; font-weight: bold;
  
    white-space: pre-line;
    text-align: left;
    max-height: 2em;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
/* RIGHT */
.mart-right{
    margin-left: auto;
    margin-right: 0;
    display: flex; flex-direction: row;
    align-items: center;
    gap: 14px;
    padding-left: 12px;
}

.mart-status{
    cursor: pointer;
    border: solid 2px rgb(13, 151, 98);
    color: rgb(13, 151, 98);
    
    padding: 4px 10px;
    border-radius: 20px;
}

.mart-status:hover{
    background-color: rgb(240, 240, 240);
    border: solid 2px rgb(30, 192, 130);
}

.bell-status {
    display: flex; flex-direction: row; align-items: center; justify-content: center;
    font-size: 26px;
    background-color: rgb(32, 184, 125);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: rgb(236, 235, 235);
}

.mart-item-arrow-btn{
    margin-right: 0;
    margin-left: auto;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.mart-item-arrow-btn.flip{
    transform: rotate(180deg) translateY(5px);
    z-index: 0;
    -webkit-transform: rotate(180deg) translateY(5px);
}


/* body */

.mart-item .mart-item-body{
    overflow: hidden;
    gap: 4px;
    width: 100%; height: 0;
    max-height: 0;
    transition: max-height 0.1s ease-in;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}


.mart-item .mart-item-body .mart-item-body-content{
    display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;
    padding: 12px 22px 20px;
    gap: 10px;
}

.mart-item-body.show{
    height: auto;
    max-height: 320px;
    border-bottom: solid 1px #ccc;

   
}

.mart-item .mart-item-info{
    font-size: 16px;
    color: #444;
}

@media only screen and (max-width: 756px){
    .mart-item .mart-item-row{
        gap: 8px;
        padding: 8px 12px 8px 8px; 
    }

    .mart-item-arrow-btn{
        font-size: 32px;
    }
}


/*  */


.mart-opt-btn{
    width: 26px; height: 26px;
    display: flex; align-items: center; justify-content: center;
    border: none;
    color: #555;
    margin-right: 0;
    margin-left: auto;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
}

.mart-opt-btn:hover{
    transition: all .1s ease-in-out;
    color: rgb(0, 0, 0);
}