.product-feed-item{
    width: 100%; height: fit-content;
    display: flex;
    flex-direction: column; align-content: flex-start; justify-content: flex-start;
    gap: 8px;
}
.product-fi-image-vp{
    position: relative;
    overflow: hidden;
    width: 100%;height: 0;
    padding-bottom: 75%;
    background-color: rgb(245, 245, 245);
}
.product-fi-image-vp img{
    object-fit: contain;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    margin: auto;
}

.product-fi-description {

    font-size: 17px;
    line-height: 17px;
    white-space: normal;
    text-align: left;

    max-height: 52px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.product-fi-description:hover {
   color: var(--main-color);
   cursor: pointer;
}

.product-fi-brand{
    width: fit-content;
    color: teal;
}



/*  */

.product-fi-button{
    border-radius: 30px;
    background-color: transparent;
    border: solid 4px rgb(3, 65, 36);
    color: rgb(3, 65, 36);
    height: 36px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.product-fi-button:hover{

    border: solid 4px rgb(6, 95, 54);
  
}