.toggle-button{
    display: flex; align-items: center; justify-content: center; 
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    color: #efefef;
    border: solid 1px #efefef;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle-button:hover{
    font-size: 28px;
    color: white;
    border: solid 1px #eee;
    color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
}
