
#admin-marts-page{
    position: relative;
    height: 100%;
}   

.status-select-box{
    height: 100%!important;
    background-color: rgb(229, 229, 229)!important;
    width: 120px; 
    cursor: pointer;
    padding: 0 10px; 

}

.status-select-box:hover{
    background-color: rgb(235, 235, 235);
}


