
#admin-marts-page{
    min-height: 100vh;
}   

.status-select-box{
    background-color: rgb(229, 229, 229);
    width: 120px; height: 48px;
    border: none;
    color: rgb(58, 58, 58);
    border: solid 1px #ddd;
    font-size: 16px;
    cursor: pointer;
    padding: 0 10px;
}

.status-select-box:hover{
    background-color: rgb(235, 235, 235);
}


