
:root {
    --admin-aside-color: #007CDC;
    --admin-aside-light-color: #1388e2;
    --admin-header-height: 76px;
    --admin-bg-color: #eeeeee;
}

#admin-layout{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "menu adminBar" "menu content";
    background: var(--admin-bg-color)
}

.admin-bar {
    grid-area: adminBar;
    height: 72px;
    width: 100%;
}

header.admin-header{
    grid-area: header;
    position: sticky;
    top: 0;
    height: var( --admin-header-height);
    background-color: var( --admin-aside-color );
    display: none;
    z-index: 999;
    box-shadow: 0px 2px 2px 1px #0003;
}

aside.admin-menu{
    width: 300px;
    position: sticky;
    left: 0; top: 0;
    grid-area: menu;
    height: 100vh;
    background-color: var( --admin-aside-color );
}

main.admin-content{
    grid-area: content;
    padding-top: 18px;
    padding-bottom: 180px;
    margin: 0;
    min-height: 100vh;
}

@media only screen and (max-width: 960px){
    #admin-layout {  grid-template-areas: "header header" "adminBar adminBar" "content content"; }
    header.admin-header{  display: block; }
    .admin-bar {
        height: 56px;
    }

    
}