
:root {
    --admin-aside-color: #007CDC;
    --admin-aside-light-color: #1388e2;
    --admin-header-height: 76px;
    --admin-bg-color: #eaeef5;
}

#admin-layout{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "menu adminBar" "menu content";
    background: var(--admin-bg-color)
}

.admin-bar {
    grid-area: adminBar;
    height: 72px;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

header.admin-header{
    grid-area: header;
    position: sticky;
    top: 0;
    height: var( --admin-header-height);
    background-color: var( --admin-aside-color );
    display: none;
    z-index: 999;
    box-shadow: 0px 2px 2px 1px #0002;
}

aside.admin-menu{
    width: 300px;
    position: sticky;
    left: 0; top: 0;
    grid-area: menu;
    height: 100vh;
    background-color: var( --admin-aside-color );
}

main.admin-content{
    grid-area: content;
    padding-top: 18px;
    padding-bottom: 260px;
    margin: 0;
    min-height: 100vh;
}

.admin-form-page{
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-width: 1224px;
    margin: auto;
    padding: 0 22px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.admin-form-page.freeze::before{
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0;
    margin: auto;
    width: 100%; height: 100%;
    background-color: rgba(250, 250, 250, 0.4);
    background-repeat: no-repeat;
    background-position: center 120px;
    z-index: 99; 
}  
  


@media only screen and (max-width: 960px){
    #admin-layout {  grid-template-areas: "header header" "content content" "content content"; }
    header.admin-header{  display: block; }
    .admin-bar {
        display: none!important;
    }
    .admin-form-page{

        padding: 0 12px;
    }

    
}