
:root {
    --admin-aside-color: #007CDC;
    --admin-aside-light-color: #1388e2;
    --admin-header-height: 58px;
    --admin-bg-color: #dce7f0;
}

#admin-layout{
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "menu adminBar" "menu content";
    background: var(--admin-bg-color)
}

.admin-bar {
    grid-area: adminBar;
    height: var(--admin-header-height);
    width: 100%;
    background-color: rgb(245, 245, 245);
}

header.admin-header{
    grid-area: header;
    position: sticky;
    top: 0;
    height: var( --admin-header-height);
    background-color: var( --admin-aside-color );
    display: none;
    z-index: 999;
    box-shadow: 0px 2px 2px 1px #0002;
}

aside.admin-menu{
    width: 300px;
    position: sticky;
    left: 0; top: 0;
    grid-area: menu;
    height: 100vh;
    background-color: var( --admin-aside-color );
}

main.admin-content{
    grid-area: content;
    margin: 0;
    height: calc( 100vh - var(--admin-header-height) );
    overflow-y: hidden;
}

@media only screen and (max-width: 960px){

    :root {
        --admin-header-height: 76px;
    }
    #admin-layout {  grid-template-areas: "header header" "content content" }
    header.admin-header{  display: block; }
    .admin-bar {
        display: none!important;
    }
 
}