.suggestion-private-flow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 8px;
    height: fit-content;

}

.suggestion-tool-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.suggestion-tool-bar button{
    background-color: var(--main-color);
    color: white;
    padding: 0 16px;
    font-size: 18px;
}

@media screen and (max-width: 960px) {
    .suggestion-private-flow{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 8px;
        height: fit-content;
    
    }
    
}