 .top-wrapper-grid{
    background-color: rgb(233, 233, 233);
    position: sticky;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    top: 0;
    height: fit-content;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 1px #0001;
    border-bottom: solid 1px #aaa;
    align-items: flex-start;
    justify-content: flex-start;
}



@media only screen and (max-width: 960px){
  

    .top-wrapper-grid{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr auto;
    }
    .top-wrapper-grid > :nth-child(2){
        width: fit-content;
        height: fit-content;
    }
    
     

    
}