#home-page{
    font-family: "Noir", Verdana, sans-serif;
    background-color: #dce7f7;
}

#home{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}

#sobre{
    width: 100%;
}
#contato{
    width: 100%;
}

.home-section{
    position: relative;
    padding:  80px 16px 0;
}