
.listing-grid{
    width: 100%;
    height: 100vh;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    display: grid;
    text-align: left;
    padding: 2px 12px;
    background-color: rgb(165, 165, 165);
    color: white;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
}


.product-filter-grid{
    width: 100%;
    display: grid!important;
    grid-template-columns: repeat(3, 1fr) 100px;
    grid-template-rows: 1fr;
    gap: 10px;
    align-items: flex-end;
}

.product-filter-grid button{
    background-color: var(--admin-aside-color);
    color: white!important;
}
