.picv-product-view{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.699);
    border: solid 1px #ddd;
    width: 100%;
    border-radius: 8px;
    padding: 8px 10px;
    gap: 4px;
}

.picv-product-view:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: inset 0px 0px 1px 2px rgba(38, 101, 236, 0.493); 
}

.picv-product-view > *{

    text-align: left;
    width: fit-content;
    font-weight: bold;
    border-radius: 6px;
}


.picv-product-view > :nth-child(1){
    font-size: 15px;
}
.picv-product-view > :nth-child(2){
    font-size: 12px;
    padding: 1px 8px;
    color: #888;


}
.picv-product-view > :nth-child(3){
    font-size: 14px;
    padding: 0px 8px;
    color: rgba(59, 135, 223, 1);
    border: solid 2px  rgba(59, 135, 223,1);
   /*  margin-left: auto;
    margin-right: 0; */

}
.picv-product-view > :nth-child(4){

    display: flex; align-items: center; justify-content: center;
    height: 28px; width: 28px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
}