 .bottom-wrapper-grid{
    background-color: rgb(51, 51, 51);
    position: sticky;
    width: 100%;
    bottom: 0;
    height: fit-content;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
  
}

.bottom-wrapper-grid section{
    width: 100%;
}




.bottom-wrapper-grid > *, .bottom-wrapper-grid a{
    width: 100%;
    display: flex; flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


.bottom-wrapper-grid > :nth-child(1){
    justify-content: flex-start;
}

.bottom-wrapper-grid > :nth-child(2){
    width: 100%;
    justify-content: flex-start;

}

.bottom-wrapper-grid a{
    line-height: 1em;
    color: white;
    font-size: 16px;
    font-weight: bold;
    gap: 10px;
    width: fit-content;
    padding: 6px 18px 8px;
}

