/* Header */
header#primary-header{
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0,0);
    transition: all .3s;
    z-index: 999;
    font-family: "Noir", Verdana, sans-serif;
}

header#primary-header.colorful{
    background-color: var(--main-color);
    transition: all .5s;
}

.primary-header-content{
    z-index: 0;

    height: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center; justify-content: center; justify-content: center;
    
}

.primary-header-content section {
    display: flex; align-items: center; justify-content: center; 
    padding: 0 18px;
}
.primary-header-content section.section-one {
    display: flex; align-items: center; justify-content: flex-start; 
}
.primary-header-content section.section-two  {
    flex-direction: row;
    display: flex; align-items: center; justify-content: flex-end; 
}



.signup-button{
    padding: 10px 20px;
    font-size: 17px;
    text-transform: uppercase;
    background-color: rgb(27, 80, 139);
    color: white;
    border: none;
    border-radius: 22px;
    margin-left: 24px;
    cursor: pointer;
}
.signup-button:hover{  transition: all .02s ease-in;}


.ph-logo{
    width: 200px;
}

/* toggle button */

