.custom-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.custom-select select {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: solid 1px #ccc;
    font-size: 22px;
    padding: 0 16px;
    color: #222;
    

}
.custom-select select  .dropdown-content {
    max-height: 200px;
}
.custom-select button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
}

