@keyframes showSmotthUp {
    0% { opacity: .3;}
    100% { opacity: 1;}
  }
.app-custom-selector{
    position: relative;
    width: 100%;
}

.float-select-item{
    position: absolute;
    top: 6px; right: 6px;
    height: 36px;
    background-color: rgb(228, 228, 228);
    padding: 0 14px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;     color: #444;
    display: flex;
    align-items: center;
    animation-name: slideUp;
    animation-duration: .5s;
    animation-timing-function: ease ;
    cursor: pointer;
    gap: 8px;
}

.app-custom-selector input{
    height: 50px;
    padding: 0 0 0 42px;
}
.app-custom-selector-item-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 36px!important;
    width: 100%;
    animation-name: slideUp;
    animation-duration: .5s;
    animation-timing-function: ease ;
    cursor: default;
    text-align: left;
}
.app-custom-selector-item-wrapper:hover{
    outline: solid 2px rgb(58, 108, 150,.3);
    background-color: rgba(97, 156, 190, 0.2);
}
.app-custom-selector-body{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: 50px; left: 0;
    width: 100%;
    max-height: 0;
    background-color: rgb(255, 255, 255);
    height: 0;
    overflow-y: auto;
    transition: all .2s;
    z-index: 99;

}

.acs-close {
    display: flex; flex-direction: row; align-items: center; justify-content: center;
    position: absolute;
    top: 14px; right: 12px;
    font-size: 21px;
    display: none;
    width: 28px; height: 28px;
    color: #bbb;
/*     border: solid 2px red; */
}

.acs-close.show{
    display: block;
}


.acs-close.show:hover{
    color: rgb(41, 16, 16);
    transition: all .05s;
    cursor: pointer;
}


/*  */
.acs-status{
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 22px;
}
.acs-status.success{
    color: rgb(55, 148, 97);
}
.acsb-flow{
    width: 100%;
}

.app-custom-selector-body.show{
    height: fit-content;
    max-height: 240px;
    box-shadow: 0px 2px 3px 2px #0003;
    
}