



#admin-budget-page{
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 18px;
}

@media only screen and (max-width: 1024px) {

    #admin-budget-page{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 18px;
    }
}