.brand-edit-modal{
    width: 500px;

    
}

.brand-edit-modal .bem-header{

    padding: 8px 0;

}

.bem-add-btn{
    background-color: var(--admin-aside-color);
    border: none;
    margin-left: auto;
    margin-right: 0;
    color: white;
    cursor: pointer;
    
    
}
.brand-edit-modal .bem-header button{
    height: 32px;
    padding: 0 18px;
    cursor: pointer;
    border-radius: 8px;
    border-radius: 10px;
}
@media only screen and (max-width: 960px){
    .brand-edit-modal{
        width: 100%;
  
    }
}