.admin-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.admin-bar section{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-bar .admb-left{
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.admin-bar .admb-left .admb-back-btn{
    font-size: 14px;
    height: calc(100% - 14px); width: 50px;
    font-weight: bold;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    transition: all .1s ease-in

}

.admin-bar .admb-left .admb-back-btn:hover{

    background-color: rgb(235, 235, 235);
    color: #000;
}

.admin-bar .admb-left .admb-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    text-transform: uppercase;
    white-space: normal;
    text-align: left;
    max-height: 1em;
    height: 1em;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-bar .admb-right{
    justify-content: flex-end;
}


@media only screen and (max-width: 960px){
    .admin-bar .admb-left .admb-title{
        gap: 2px;
        font-size: 12px;
    }

    
}