.admin-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    border-bottom: solid 1px #ddd;
}

.admin-bar section{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-bar .admb-left{
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}


.admin-bar .admb-left .admb-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 1em;
    text-transform: uppercase;
    white-space: normal;
    text-align: left;
    height: 20px;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-bar .admb-right{
    justify-content: flex-end;
}


@media only screen and (max-width: 960px){
    .admin-bar .admb-left .admb-title{
        gap: 2px;
        font-size: 12px;
    }

    
}