.category-tree-item{
    display: grid;
    grid-template-columns: 1fr auto; grid-template-rows: 1fr;
    align-items: center;
    height: 46px;
    width: calc(100% - 40px); 
    padding: 0 10px;
    border-radius: 6px;
    cursor: default;
    margin-left: 9px;

}
.category-tree-item:hover{
    background-color: rgba(125, 170, 230, 0.3);
    outline: solid 2px rgba(66, 110, 204, 0.3); 
}


.category-tree-item .category-tree-item-name{
    width: 100%;
    font-size: 20px;
    
    white-space: normal;
    text-align: left;
    max-height: 1.2em;
    height: 1.2em;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cti-btn{
    display: flex; align-items: center; justify-content: center;
    width: 24px; height: 24px;
    border: none;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.cti-btn:hover{
    transition: all .1s ease-in-out;
    color: rgb(0, 0, 0);
}



@media only screen and (max-width: 756px){
    .cti-btn{

        width: 32px; height: 32px;

    }
}