.category-tree-item{
    display: grid;
    grid-template-columns: 1fr auto; grid-template-rows: 1fr;
    align-items: center;
    height: calc(100% - 4px);
    width: 100%;
    padding: 0 8px;
    border-radius: 6px;
}
.category-tree-item:hover{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    width: 100%;
    background-color: rgba(125, 170, 230, 0.3);
    outline: solid 2px rgba(66, 110, 204, 0.3); 
    cursor: default;
}


.category-tree-item .category-tree-item-name{
    width: 100%;
    font-size: 18px;
    text-align: left;
}

.cti-btn{
    display: flex; align-items: center; justify-content: center;
    width: 24px; height: 24px;
    border: none;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.cti-btn:hover{
    transition: all .1s ease-in-out;
    color: rgb(0, 0, 0);
}

