.main-content-right-side{
    
}

.main-content-right-side li{
    margin: 0;
    text-align: left;
    font-size: 21px;
    line-height: 1.1em;
    padding-bottom: 8px;
    margin-bottom: 0px;
    font-weight: normal;
    color: var(--second-color);
    text-shadow: 2px 0px 3px 4px #000;
}
