.product-info-view, .product-info-view .espec-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    row-gap: 6px;
    padding: 0 0px
}

.product-info-view{
    width: 100%;
    height: 120px;
    color: white;

    border-radius: 6px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.product-info-view .piv-image-vp{
    position: relative;
    height: 102px!important;
    width: 102px!important;
    padding: 0;
    overflow: hidden;
}


.product-info-view .piv-image-vp img{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: white;
}
 


.product-info-view  ul.espec-column{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
}


.product-info-view  ul.espec-column li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    gap: 4px;
}


.product-info-view  ul.espec-column li label{
   font-size: 14px;
   

}
.product-info-view  ul.espec-column li span{

    font-weight: bold;
    text-align: left;
    width: 100%;
    font-size: 17px;
    list-style: 20px;
    white-space: normal;
    text-align: left;
    max-height: 20px;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

 
 }
 


@media only screen and (max-width: 756px){

}