.alt-form-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    width: 100%; height: 100%;
}

.alt-form-row label{
    width: fit-content; font-size: 13px;
    letter-spacing: .05em; line-height: 1em;
    height: 1em;
    margin-bottom: 2px;
    color: rgb(17, 56, 128);
    font-weight: bold;
    padding-left: 2px;
    font-family: 'Oxygen', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.alt-form-row select, 
.alt-form-row textarea, 
.alt-form-row input[type=text], 
.alt-form-row input[type=number], 
.alt-form-rowinput[type=password], 
.alt-form-row .text-input,
.alt-form-row button{
    height: 36px!important;
     width: 100%;
    line-height: 1.2em;
    border-radius: 4px;
    border: solid 1px #ccc;
    border-bottom: solid 1px #bbb ;
    font-size: 14px;
    padding: 0 12px;
    color: #111;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.alt-form-row input[type=checkbox]{
    width: fit-content;
    display: flex;
    flex-direction: column;
    width: 18px;
    height: 18px;
    border: solid 1px #bbb;
    color: #222;
    margin-right: 6px;
}

.alt-form-row textarea{
    height: unset;
    min-height: 60px;
    padding: 8px 12px;
}

/* warning */
.alt-form-row.warning input[type=text] {
    outline: none;
    box-shadow: 0 0 0 2px rgb(160, 9, 47,.2);
}

/* focus */
.alt-form-row textarea, input:focus{
    outline: none;
    box-shadow: 0 0 0 1px rgba(54, 107, 231, 0.3);
    transition: all .2s ease-in-out;
}

.form-error{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(160, 9, 47);
    font-size: 15px;
    line-height: 1.1em;
    margin-top: 2px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    width: fit-content;
    background-color: rgba(228, 215, 221, 0.35);
    padding: 5px 20px;
    border-radius: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: left;
}

@media only screen and (max-width: 756px){
    .form-row select, textarea, input[type=text], input[type=password], .text-input{
        padding: 0 10px;
     
    }
    .form-row select{
        padding: 12px 8px;
    }
}