.main-menu{
    padding: 32px 0;
    margin-left: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    box-shadow: unset;
    transition: all .24s;
    z-index: 9999!important;
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px 4px #0004;
}
.main-menu > section{
    width: 100%;
    padding: 0 32px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 960px){  

    .main-menu{
        padding: 0px 0;
    }
    .main-menu.show { 
        margin-left: 30vw;
    }

    
}

