.control-bar{
    width: 100%;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}

.filter-row{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
}


.status-select-box{
    height: 48px;
    width: 200px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 18px;
    border: solid 1px #ddd;
    padding: 0 10px;
    background: #eee;
}




.control-bar-search {
    height: 48px;
    width: 100%;
    font-size: 18px;
    border: solid 1px #ddd;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*  */

.control-bar-btn:hover {
    background-color: rgb(90, 136, 221);
}

.control-bar-btn {
    height: 42px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: rgb(76, 122, 207);
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: .7em;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 24px;
}