.mart-budget-search-bar{
    position: relative;
    grid-column: 2 span;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    
}
.float-bloom{
    position: absolute;
    top: 18px;
    left: 22px;
    z-index: 1;
    font-size: 18px;
    color: #888;

}
.mart-budget-search-bar .mart-bsb-input{
    height: 52px;
    border-radius: 32px;
    padding-left: 56px;
}
.mart-budget-search-bar .mart-bsb-submit{
    height: 52px;
}

.mart-budget-tags  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    gap: 2px;
}

.search-tag{
    font-size: 10px;
    background-color: rgb(209, 209, 209);
    padding: 2px 8px;
    border-radius: 6px;
}