#budget-page{
    position: relative;
    min-height: calc(100vh - 72px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    background-color: rgb(246, 250, 255);
    grid-template-areas: "content" "cart" ;
  
}

#budget-page > *{
    height: 100%;
    width: 100%;
}

#budget-page > section{
    grid-area: content;

}

#budget-page > section:nth-child(1){
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#budget-page > section:nth-child(1){
    position: relative;
    z-index: 2;
}

#budget-page > aside{
    grid-area: cart;
   
    width: 300px;
    position: sticky;
    width: 100%;
    height: fit-content;
    bottom: 0;
    z-index: 2;
}

