.search-selector{
    width: 100%;
    grid-column: 1 span ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 500px;
    overflow-y: auto;

}

.search-selector-title{
    font-size: 18px;
    text-align: left;
    width: 100%;
    padding: 2px 6px;
    font-weight: bold;
}

.search-selector nav{
    width: 100%;
    padding-top: 8px;


}

.search-selector ul{
    width: 100%;
    list-style-type: none;
    margin: 0; padding: 0;
    display: flex; flex-direction: column;
    gap: 4px;
}
.search-selector li{
    display: flex; flex-direction: row; align-items: center;
    width: 100%; height: 26px;
    border-radius: 20px;
    padding-left: 24px;
    cursor: pointer;
    gap: 8px;
}
.search-selector li:hover{
    color:rgb(211, 78, 1) ;
}

.search-selector li.search-selector-selected{
    background-color: rgb(255, 255, 255,.4);
    position: relative;

}

/* .search-selector li.search-selector-selected::after{
    content: "selecionado";
    position: absolute;
    top: 0; right: 6px; bottom: 0;
    margin: auto;
    font-size: 10px;
    padding: 2px 4px;
    background-color: rgb(221, 221, 221);
    height: fit-content;
    border-radius: 4px;
}

 */