
:root {
  --main-color: #007CDC;
  --main-light-color: #1388e2;
  --main-bg-color: #E3EDFF;
  --second-color: rgb(8, 62, 122);
}




@font-face {
  font-family: "Montserrat";
  src: url(./assets//fonts/Montserrat/Montserrat-Thin.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets//fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets//fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 600;
}

/*  */
@font-face {
  font-family: "Oxygen";
  src: url(./assets//fonts/Oxygen/Oxygen-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Oxygen";
  src: url(./assets//fonts/Oxygen/Oxygen-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Oxygen";
  src: url(./assets//fonts/Oxygen/Oxygen-Bold.ttf);
  font-weight: 600;
}


@font-face {
  font-family: "Noir";
  src: url(./assets//fonts/noir/Noir_medium.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Noir";
  src: url(./assets//fonts/noir/Noir_regular.otf);
  font-weight: 400;
}


@font-face {
  font-family: "Biysk";
  src: url(./assets//fonts/biysk/Biysk.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Biysk";
  src: url(./assets//fonts/biysk/Biysk-Bold.ttf);
  font-weight: 600;
}


body {

  margin: 0;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  font-family: "Oxygen", 'Times New Roman', Times, serif;
}

.App {

  text-align: center;
  box-sizing: border-box;

}

.App * { box-sizing: border-box;   }

.App.loading::before{
  content: "";
  position: fixed;
  top: 0; left: 0; bottom: 0;
  margin: auto;
  width: calc(100vw); height: calc(100vh);
  background-color: var(--main-bg-color);
  background-image: url(./assets/loading.svg); 
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;
  z-index: 9999999;
}  

.div-loading::before{
  position: relative;
}  

.div-loading::before{
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0;
  margin: auto;
  width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, .3);
  background-image: url(./assets/loading.svg); 
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  z-index: 99;
  
}  
/*  */
.app-container{
  width: 100%;
  max-width: 1224px;
  padding: 0 16px;
  margin: auto;
}


.app-padding{
  padding: 0 32px;
}


/* fonts */
.text-black{
  color: black!important;
}
.font-bold { font-weight: bold; }
.font-regular{ font-weight: normal; }

.small {
  font-size: 15px;
  line-height: .8em;
}
.smaller {
  font-size: 12px;
  line-height: .8em;

}
.muted {
   color: #666;
}

.w100{
  width: 100%;
}
/* display */

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.aln-center {
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

@media only screen and (min-width: 961px){
  .mobile-only{
      display: none!important;
  }

}

@media only screen and (max-width: 960px){

  .desktop-only{
      display: none!important;
  }
  .app-container, .app-padding { padding: 0 10px; }

}

.m-0{
  margin: 0;
}
.mb-1{
  margin-bottom: 8px;
}
.mt-2{
  margin-top: 8px!important;
}
.m-1{
  margin: 8px;
}

.mt-m{
  margin-top: 16px;
}
.ml-auto  {
  margin-left: auto;
}
.mr-0 {
  margin-right: 0;
}


/* button */
.light-button{
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6em;
  color: #444;
  gap: 6px;
}

.light-button:hover{
  color: rgb(53, 117, 255);
  text-decoration: underline solid 1pt rgb(53, 117, 255);
}

.bd-red{
  border: solid 2px red;
}

.soft-btn{
  position: relative;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.excel-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(38, 146, 61);
  color: white;
  padding: 0 24px;
  font-size: 16px;
  line-height: 0;
  gap: 20px;
}


.soft-btn:hover::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(240, 255, 240, 0.1);
}