.admin-common-tool-bar{
    box-sizing: border-box;
    height: fit-content;
    overflow: hidden;
    margin: 0;
}

.admin-common-tool-bar-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 10px;
}
/* Buttons */

.admin-common-tool-bar button{
    display: flex; flex-direction: row; align-items: center; justify-content: center;
    gap: 10px   ;
    position: relative;
    width: fit-content; height: 38px;
    cursor: pointer; border: none;
    padding: 0 36px;
    font-size: 15px; font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: var(--admin-aside-color);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 1px 2px 2px rgb(223, 223, 223);

}
.admin-common-tool-bar button.success{
    background-color: rgb(52, 177, 104)
}
.admin-common-tool-bar button.warning{
    background-color: rgb(151, 43, 66)
}

.admin-common-tool-bar button:hover::after{
    content: ""; position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(255, 255, 255,.1);
    border-radius: 5px;
}


/*  */
.admin-common-tool-bar button.freeze{
    position: relative;
    background-color: unset;
}

.admin-common-tool-bar button.freeze::after{
    content: "";
   position: absolute;
   top: 0; left: 0; 
   width: calc(100%); height: calc(100%);
   border-radius: 6px;
   background: linear-gradient(270deg, #e7e7e7, #dddd, #eeeeee);
   background-size: 300% 300%;
   -webkit-animation: AnimationName 2s ease infinite;
   animation: AnimationName 2s ease infinite;
   opacity: .7;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media only screen and (max-width: 756px){
    .admin-common-tool-bar button{
        width: 100%!important;
        padding:0;

    
    }
}