.orderGroup-modal{
    width: 1024px;
}


/*  */

.orderGroup-modal-metrics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 8px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding: 8px 2px;
    border: solid 1px rgb(206, 206, 206);
    border-left: none;
    border-right: none;
}

.orderGroup-modal-metrics > label{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(245, 245, 245);
    padding: 4px 6px;
    border-radius: 3px;
    gap: 8px;
}

.orderGroup-modal-metrics > label > input{
    font-size: 20px;
    text-align: left;
    height: 100%;
    max-width: 100%;
    width: 100%;
    color: #111!important;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
}


@media only screen and (max-width: 1360px){
  
    .orderGroup-modal{
        width: 100%;
    }
    
    
}
@media only screen and (max-width: 960px){


  
    .orderGroup-modal > :nth-child(1){
        padding: 0
    }

    .orderGroup-modal > :nth-child(1) img{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    
}