.budget-product-confirmation-dialog{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 8px;
}

.budget-product-confirmation-dialog h2{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0 ;
}





@media only screen and (max-width: 960px){

    .budget-product-confirmation-dialog{
        width: 100%;
    }
}

@media only screen and (max-width: 756px){

}