.brand-back-btn{
    background-color:rgb(233, 233, 233);
    border: none;
    border-radius: 10px;
    margin-left: 0;
    margin-right: auto;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.brand-modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    padding: 12px 0 0 0 ;
}