.app-feed-tool-bar{
    width: 100%;
    padding: 0;
}

.app-feed-tool-bar .aftb-grid{
    display: grid;
    grid-template-columns: auto 1fr ; 
    grid-template-rows: 1fr;
    width: 100%; height: 36px;
    padding: 0;
    align-items: center;    
    gap: 5px;
}

.app-feed-tool-bar .aftb-grid > :nth-child(2){
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 4px;
}

.app-feed-tool-bar .aftb-grid button{
    border: none;
    color: white;
    background-color: var(--admin-aside-color);
    display: flex; align-items: center; justify-content: center;
    gap:6px ;
    padding: 0 20px;
    height: 100%;
    color: rgb(241, 241, 241);
    border-radius: 6px; 
    font-size: 17px;
    cursor: pointer;
}

.app-feed-tool-bar .aftb-grid button:hover{
    background-color: var(--admin-aside-light-color);
}


.app-feed-tool-bar .aftb-grid input.aftb-search-bar{
    height: 100%;width: 100%;
    width: 400px;
    max-width: 500px;
    margin-right: 0;
    margin-left: auto;
    font-size: 16px;
    border: solid 1px #aaa;
    padding: 0 22px;
    border-radius: 6px;
}


.app-feed-tool-bar .aftb-grid .aftb-search-bar:focus{
    outline: 1px solid rgba(95, 115, 160, 0.2);
}

/* buttton */

.app-feed-tool-bar .aftb-grid .aftb-search-btn{
    font-size: 15px; 
    line-height: 0
}


@media only screen and (max-width: 960px){



    .app-feed-tool-bar .aftb-grid input.aftb-search-bar{
        width: 100%;
    }

    /* .app-feed-tool-bar .aftb-grid .aftb-search-btn{
        width: 56px; height: 100%;  
        padding: 0;
    } 

    .app-feed-tool-bar .aftb-grid .aftb-add-button{
        width: 64px; height: 100%;  
        padding: 0;
    } */
}